<!--
  Copyright (c) 2020-2022 Spring City Solutions LLC and other contributors
  Licensed under the Apache License, Version 2.0
  WAVESHARE (tm) is a trademark of Shenzhen Weixue Electronic Co., Ltd.
-->
<script type="text/html" data-help-name="accelmag">
  <p>Output acceleration, gyroscope, magnetometer, or temperature result after being triggered by any incoming message</p>

  <h3>Inputs</h3>
    <dl class="message-properties">
      <dt>payload
        <span class="property-type">Anything</span>
      </dt>
      <dd>Any input triggers the start of a measurement.</dd>
    </dl>

    <h3>Outputs</h3>
      <dl class="message-properties">
        <dt>payload <span class="property-type">number</span></dt>
          <dd>The measured value.</dd>
      </dl>

  <h3>Details</h3>
    <p>The Mode property selects output acceleration axis, gyroscope axis, magnetometer axis, or device temperature.</p>
    <p>The Scale property selects the temperature unit, Celsius, or Fahrenheit.</p>
    <p>The default temperature unit is Celsius.</p>
    <p>The default acceleration unit is G.</p>
    <p>The default rotation unit is degrees per second</p>
    <p>Lay the board flat on a table such that you can read SenseHAT (B).</p>
    <p>If you rotate the board bottom up and the top down, that is positive gyro X</p>
    <p>If you rotate the board right side up and the left side down, that is positive gyro Y</p>
    <p>If you rotate the board counterclockwise, that is positive gyro Z</p>

  <h3>References</h3>

  <h4>Hardware Links</h4>
    <ul>
      <li><a href="https://www.waveshare.com/sense-hat-b.htm">
        Board Manufacturer Store
      </a></li>
      <li><a href="https://www.waveshare.com/wiki/Sense_HAT_(B)">
        Board Manufacturer Wiki
      </a></li>
      <li><a href="https://www.ti.com/product/ADS1015">
        ADS1015 four channel twelve bit ADC from Texas Instruments (tm)
      </a></li>
      <li><a href="https://www.ti.com/lit/pdf/slyy192">
        Free Ebook "Fundamentals of Precision ADC Noise Analysis"
      </a></li>
      <li><a href="https://www.ti.com/lit/pdf/slyt423">
        Journal Series "How Delta Sigma ADCs Work Pt 1"
      </a></li>
      <li><a href="https://www.ti.com/lit/pdf/slyt438">
        Journal Series "How Delta Sigma ADCs Work Pt 2"
      </a></li>       
      <li><a href="https://www.ti.com/lit/pdf/sbaa230">
        App Note "Digital Filter Types in Delta Sigma ADCs"
      </a></li>
      <li><a href="https://www.richtek.com/assets/product_file/RT9193/DS9193-16.pdf">
        RT9193 voltage regulator from RICHTEK (tm)
      </a></li>
    </ul>

  <h4>Spring City Solutions Links</h4>
    <ul>    
      <li><a href="https://www.springcitysolutions.com/nodered">
        Spring City Solutions Node-RED project page
      </a></li>
      <li><a href="https://www.springcitysolutions.com/nodered-waveshare-sense-hat">
        Spring City Solutions page for this node
      </a></li>
      <li><a href="mailto:nodered@springcitysolutions.com">
        Spring City Solutions Node-RED project email address nodered@springcitysolutions.com
      </a></li> 
      <li><a href="https://gitlab.com/SpringCitySolutionsLLC/waveshare-sense-hat-b-16864">
        Spring City Solutions Gitlab for this node
      </a></li>
      <li><a href="https://www.patreon.com/springcitysolutions_nodered">
        Patreon page for this project (Thank You for your support!)
      </a></li>
    </ul>

  <h4>Software Links</h4>
    <ul>  
      <li><a href="https://gitlab.com/SpringCitySolutionsLLC/waveshare-sense-hat-b-16864">
        Spring City Solutions Gitlab for this node
      </a></li>
      <li><a href="https://springcitysolutionsllc.gitlab.io/waveshare-sense-hat-b-16864/index.html">
        Doxygen docs for this node autogenerated by Gitlab CI/CD
      </a></li>
      <li><a href="https://npmjs.org/package/node-red-contrib-waveshare-sense-hat-b-16864">
        npmjs page for this node
      </a></li>
      <li><a href="https://flows.nodered.org/node/node-red-contrib-waveshare-sense-hat-b-16864">
        Node-RED flows for this node
      </a></li>
    </ul>

  <h4>Documentation Links</h4>
    <ul>  
      <li><a href="https://gitlab.com/SpringCitySolutionsLLC/waveshare-sense-hat-b-16864/-/wikis/home">
        Gitlab wiki for this node (the master copy of list of links is here)
      </a></li>
      <li>
        TODO Youtube video "How to Set Up"
      </li>
      <li>
        TODO Youtube video "How to Use"
      </li>
      <li>
        TODO Youtube video "Testing Results"
      </li>        
    </ul>

  <h4>Trademarks</h4>
    <ul>
      <li>Node-RED and node.js are a trademark of the OpenJS Foundation in the United States</li> 
      <li>Python is a registered trademark of the Python Software Foundation</li>
      <li>Raspberry Pi is a trademark of Raspberry Pi Trading</li>
      <li>ST Microelectronics (tm) is a trademark of STMICROELECTRONICS, INC.</li>
      <li>WAVESHARE is a trademark of Shenzhen Weixue Electronic Co., Ltd.</li>      
      <li>"All trademarks are property of their respective owners"</li>
    </ul>

  <h4>Copyrights and Licenses</h4>
    <ul>
      <li>Majority of code Copyright &copy; 2020-2022 Spring City Solutions LLC and other
      contributors and licensed under the Apache License, Version 2.0</li>
      <li>Icon made from <a href="http://www.onlinewebfonts.com/icon">Icon Fonts</a>
      is licensed by CC BY 3.0</li>
    </ul>
</script>
<script type="text/html" data-help-name="analog">
    <p>Report the voltage after being triggered by any incoming message</p>

    <h3>Inputs</h3>
      <dl class="message-properties">
        <dt>payload
          <span class="property-type">Anything</span>
        </dt>
        <dd>Any input triggers the start of an analog to digital conversion</dd>
      </dl>

      <h3>Outputs</h3>
        <dl class="message-properties">
          <dt>payload <span class="property-type">number</span></dt>
            <dd>The measured voltage.</dd>
        </dl>

    <h3>Details</h3>
      <p>The Port property selects the analog input port.</p>
      <p>AIN0 thru AIN3 are labeled on the printed circuit board.</p>
      <p>The differential modes subtract the first port from the second port.</p>
      <p>Never connect an input voltage over +3.6 volts or under -0.3 volts to any input.</p>
      <p>The Scale property selects the output voltage scale.</p>
      <p>The default Volts scale outputs from 0.0 to 3.3 volts.</p>
      <p>The Millivolts scale outputs from 0.0 to 3300.0 millivolts.</p>
      <p>The Fraction scale outputs a number from 0 to 1 where 0 represents zero volts and 1 represents full scale voltage.</p>
      <p>The Percentage scale outputs a percentage from 0 to 100 where 0 represents zero volts and 100 represents full scale voltage.</p>
      <p>The Raw Count scale outputs a 12 bit signed integer in decimal format such that 0 represents zero volts and 2047 represents full scale voltage.</p>
      <p>The Full Scale Range sets the maximum reported voltage.</p>
      <p>Note that regardless of the setting of the FSR property, the physical input voltage should be between 0 and 3.3 volts.</p>
      <p>A 200 millivolt signal would be reported to 12 bits of accuracy at a FSR of 0.256 Volts.</p>
      <p>However, because 200 millivolts is only a small fraction of full scale voltage at a FSR setting of 4.096 Volts, that same 200 mV would be reported to only 8 bits of accuracy.</p>
      <p>In other words, never input a signal outside the range of 0 to 3.3 volts, however, if you input a small signal, set the FSR to somewhat larger than the largest possible sensor output to obtain the maximum possible resolution.</p>
      <p>The data rate property allows the user to trade off slow, low noise, higher power consumption, vs fast, higher noise, lower power consumption.</p>
      <p>The VRef accuracy is set by the RT9193-33 voltage regulator chip, which is rated to 0.6% precision, about 20 mV of accuracy.</p>

    <h3>References</h3>

    <h4>Hardware Links</h4>
      <ul>
        <li><a href="https://www.waveshare.com/sense-hat-b.htm">
          Board Manufacturer Store
        </a></li>
        <li><a href="https://www.waveshare.com/wiki/Sense_HAT_(B)">
          Board Manufacturer Wiki
        </a></li>
        <li><a href="https://www.ti.com/product/ADS1015">
          ADS1015 four channel twelve bit ADC from Texas Instruments (tm)
        </a></li>
        <li><a href="https://www.ti.com/lit/pdf/slyy192">
          Free Ebook "Fundamentals of Precision ADC Noise Analysis"
        </a></li>
        <li><a href="https://www.ti.com/lit/pdf/slyt423">
          Journal Series "How Delta Sigma ADCs Work Pt 1"
        </a></li>
        <li><a href="https://www.ti.com/lit/pdf/slyt438">
          Journal Series "How Delta Sigma ADCs Work Pt 2"
        </a></li>       
        <li><a href="https://www.ti.com/lit/pdf/sbaa230">
          App Note "Digital Filter Types in Delta Sigma ADCs"
        </a></li>
        <li><a href="https://www.richtek.com/assets/product_file/RT9193/DS9193-16.pdf">
          RT9193 voltage regulator from RICHTEK (tm)
        </a></li>
      </ul>

    <h4>Spring City Solutions Links</h4>
      <ul>    
        <li><a href="https://www.springcitysolutions.com/nodered">
          Spring City Solutions Node-RED project page
        </a></li>
        <li><a href="https://www.springcitysolutions.com/nodered-waveshare-sense-hat">
          Spring City Solutions page for this node
        </a></li>
        <li><a href="mailto:nodered@springcitysolutions.com">
          Spring City Solutions Node-RED project email address nodered@springcitysolutions.com
        </a></li> 
        <li><a href="https://gitlab.com/SpringCitySolutionsLLC/waveshare-sense-hat-b-16864">
          Spring City Solutions Gitlab for this node
        </a></li>
        <li><a href="https://www.patreon.com/springcitysolutions_nodered">
          Patreon page for this project (Thank You for your support!)
        </a></li>
      </ul>

    <h4>Software Links</h4>
      <ul>  
        <li><a href="https://gitlab.com/SpringCitySolutionsLLC/waveshare-sense-hat-b-16864">
          Spring City Solutions Gitlab for this node
        </a></li>
        <li><a href="https://springcitysolutionsllc.gitlab.io/waveshare-sense-hat-b-16864/index.html">
          Doxygen docs for this node autogenerated by Gitlab CI/CD
        </a></li>
        <li><a href="https://npmjs.org/package/node-red-contrib-waveshare-sense-hat-b-16864">
          npmjs page for this node
        </a></li>
        <li><a href="https://flows.nodered.org/node/node-red-contrib-waveshare-sense-hat-b-16864">
          Node-RED flows for this node
        </a></li>
      </ul>

    <h4>Documentation Links</h4>
      <ul>  
        <li><a href="https://gitlab.com/SpringCitySolutionsLLC/waveshare-sense-hat-b-16864/-/wikis/home">
          Gitlab wiki for this node (the master copy of list of links is here)
        </a></li>
        <li>
          TODO Youtube video "How to Set Up"
        </li>
        <li>
          TODO Youtube video "How to Use"
        </li>
        <li>
          TODO Youtube video "Testing Results"
        </li>        
      </ul>

    <h4>Trademarks</h4>
      <ul>
        <li>Node-RED and node.js are a trademark of the OpenJS Foundation in the United States</li> 
        <li>Python is a registered trademark of the Python Software Foundation</li>
        <li>Raspberry Pi is a trademark of Raspberry Pi Trading</li>
        <li>Richtek is a registered trademark of Richtek Technology Corporation</li>
        <li>Texas Instruments is a trademark of Texas Instruments</li>
        <li>WAVESHARE is a trademark of Shenzhen Weixue Electronic Co., Ltd.</li>      
        <li>"All trademarks are property of their respective owners"</li>
      </ul>

    <h4>Copyrights and Licenses</h4>
      <ul>
        <li>Majority of code Copyright &copy; 2020-2022 Spring City Solutions LLC and other
        contributors and licensed under the Apache License, Version 2.0</li>
        <li>Icon made from <a href="http://www.onlinewebfonts.com/icon">Icon Fonts</a>
        is licensed by CC BY 3.0</li>
      </ul>
</script>
<script type="text/html" data-help-name="barometer">
  <p>Output barometer result after being triggered by any incoming message</p>

  <h3>Inputs</h3>
    <dl class="message-properties">
      <dt>payload
        <span class="property-type">Anything</span>
      </dt>
      <dd>Any input triggers the start of a barometric measurement.</dd>
    </dl>

    <h3>Outputs</h3>
      <dl class="message-properties">
        <dt>payload <span class="property-type">number</span></dt>
          <dd>The measured air pressure, temperature, or calibration value.</dd>
      </dl>

  <h3>Details</h3>
    <p>The Mode property selects output air pressure, barometer temperature, pressure offset, or writes the pressure offset.</p>
    <p>The Air Pressure Scale property selects the input and output pressure unit, hPa or inHg or raw counts.</p>
    <p>The Air Pressure Offset property on the node is written into the chip when the node is in "write pressure offset" mode and it gets an incoming message.</p>
    <p>The Temperature Scale property selects the temperature unit, Celsius, Fahrenheit, or raw counts.</p>
    <p>The low pass filter optionally averages the last 10 or 20 pressure readings to reduce the effect of noise.</p>

  <h3>References</h3>

  <h4>Hardware Links</h4>
    <ul>
      <li><a href="https://www.waveshare.com/sense-hat-b.htm">
        Board Manufacturer Store
      </a></li>
      <li><a href="https://www.waveshare.com/wiki/Sense_HAT_(B)">
        Board Manufacturer Wiki
      </a></li>
      <li><a href="https://www.ti.com/product/ADS1015">
        ADS1015 four channel twelve bit ADC from Texas Instruments (tm)
      </a></li>
      <li><a href="https://www.ti.com/lit/pdf/slyy192">
        Free Ebook "Fundamentals of Precision ADC Noise Analysis"
      </a></li>
      <li><a href="https://www.ti.com/lit/pdf/slyt423">
        Journal Series "How Delta Sigma ADCs Work Pt 1"
      </a></li>
      <li><a href="https://www.ti.com/lit/pdf/slyt438">
        Journal Series "How Delta Sigma ADCs Work Pt 2"
      </a></li>       
      <li><a href="https://www.ti.com/lit/pdf/sbaa230">
        App Note "Digital Filter Types in Delta Sigma ADCs"
      </a></li>
      <li><a href="https://www.richtek.com/assets/product_file/RT9193/DS9193-16.pdf">
        RT9193 voltage regulator from RICHTEK (tm)
      </a></li>
    </ul>

  <h4>Spring City Solutions Links</h4>
    <ul>    
      <li><a href="https://www.springcitysolutions.com/nodered">
        Spring City Solutions Node-RED project page
      </a></li>
      <li><a href="https://www.springcitysolutions.com/nodered-waveshare-sense-hat">
        Spring City Solutions page for this node
      </a></li>
      <li><a href="mailto:nodered@springcitysolutions.com">
        Spring City Solutions Node-RED project email address nodered@springcitysolutions.com
      </a></li> 
      <li><a href="https://gitlab.com/SpringCitySolutionsLLC/waveshare-sense-hat-b-16864">
        Spring City Solutions Gitlab for this node
      </a></li>
      <li><a href="https://www.patreon.com/springcitysolutions_nodered">
        Patreon page for this project (Thank You for your support!)
      </a></li>
    </ul>

  <h4>Software Links</h4>
    <ul>  
      <li><a href="https://gitlab.com/SpringCitySolutionsLLC/waveshare-sense-hat-b-16864">
        Spring City Solutions Gitlab for this node
      </a></li>
      <li><a href="https://springcitysolutionsllc.gitlab.io/waveshare-sense-hat-b-16864/index.html">
        Doxygen docs for this node autogenerated by Gitlab CI/CD
      </a></li>
      <li><a href="https://npmjs.org/package/node-red-contrib-waveshare-sense-hat-b-16864">
        npmjs page for this node
      </a></li>
      <li><a href="https://flows.nodered.org/node/node-red-contrib-waveshare-sense-hat-b-16864">
        Node-RED flows for this node
      </a></li>
    </ul>

  <h4>Documentation Links</h4>
    <ul>  
      <li><a href="https://gitlab.com/SpringCitySolutionsLLC/waveshare-sense-hat-b-16864/-/wikis/home">
        Gitlab wiki for this node (the master copy of list of links is here)
      </a></li>
      <li>
        TODO Youtube video "How to Set Up"
      </li>
      <li>
        TODO Youtube video "How to Use"
      </li>
      <li>
        TODO Youtube video "Testing Results"
      </li>        
    </ul>

  <h4>Trademarks</h4>
    <ul>
      <li>Node-RED and node.js are a trademark of the OpenJS Foundation in the United States</li> 
      <li>Python is a registered trademark of the Python Software Foundation</li>
      <li>Raspberry Pi is a trademark of Raspberry Pi Trading</li>
      <li>ST Microelectronics (tm) is a trademark of STMICROELECTRONICS, INC.</li>
      <li>WAVESHARE is a trademark of Shenzhen Weixue Electronic Co., Ltd.</li>      
      <li>"All trademarks are property of their respective owners"</li>
    </ul>

  <h4>Copyrights and Licenses</h4>
    <ul>
      <li>Majority of code Copyright &copy; 2020-2022 Spring City Solutions LLC and other
      contributors and licensed under the Apache License, Version 2.0</li>
      <li>Icon made from <a href="http://www.onlinewebfonts.com/icon">Icon Fonts</a>
      is licensed by CC BY 3.0</li>
    </ul>
</script>
<script type="text/html" data-help-name="lightsensor">
  <p>Output light sensor result after being triggered by any incoming message</p>

  <h3>Inputs</h3>
    <dl class="message-properties">
      <dt>payload
        <span class="property-type">Anything</span>
      </dt>
      <dd>Any input triggers light sensor processing.</dd>
    </dl>

    <h3>Outputs</h3>
      <dl class="message-properties">
        <dt>payload <span class="property-type">number</span></dt>
          <dd>The measured light sensor data.</dd>
      </dl>

  <h3>Details</h3>
    <p>The Mode property selects output type.</p>
    <p>Mode Auto Illuminance outputs the overall brightness and automatically sets the gain and time properties under computer control.</p>
    <p>Mode Illuminance outputs the overall brightness very quickly and the quality of the result depends on how accurately the gain and time properties match the environment.</p>
    <p>Mode Maximum Illuminance outputs the theoretically highest usable illuminance at its gain and time settings.</p>
    <p>Mode Overall Saturation outputs a number between 0 and 1 indicating how close the internal counters came to overflowing at the current gain and time settings.</p>
    <p>Mode Auto Color Temp outputs the color temperature in Kelvin and automatically sets the gain and time properties under computer control.</p>
    <p>Mode Color Temp outputs the color temp very quickly and the quality of the result depends on how accurately the gain and time properties match the environment.</p>
    <p>Mode Color Saturation outputs the quality of the color temp result from 0.0 to 1.0 the sensor is designed to respond to normal human light sources and monochromatic sources such as lasers will confuse the output.</p>
    <p>Modes Clear, Red, Green, and Blue Channel Counts output raw 0 to 65535 sensor data.</p>
    <p>The Clear, Red, etc refer to the device sensor input filters, so "clear" is all of visible light, "red" is solely filtered red light, etc.</p>
    <p>Note that this specific device has a hardware IR filter, so unlike other devices the "clear" channel does not include infrared radiation.</p>
    <p>The Scale property selects lux or footcandle output unit when in auto illuminance or illuminance mode.</p>
    <p>The Gain property selects analog input sensor gain.</p>
    <p>Gain is only used for manual modes not Auto Illuminance mode or Auto Color Temp mode.</p>
    <p>Gain too high will saturate the result in sunlight, gain too low will result in zeros in dim light.</p>
    <p>The Integration Time property selects the amount of time the sensor adds and averages data.</p>
    <p>Integration Time is only used for manual modes not Auto Illuminance mode or Auto Color Temp mode.</p>
    <p>Shorter integration time provides faster, lower accuracy results.</p>
    <p>Longer integration time provides more accurate results as long as the internal counters do not overflow.</p>
    <p>The default integration time is 400 ms.  If you try a value outside the 2.4 to 614 ms range, it will pretend you entered either the closest range or if you enter total nonsense it will pretend you entered 400 ms.</p>
    <p>Its generally believed the settings with the lowest average ripple from indoor illumination are multiples of 50 ms, so use multiples of 50 ms for integration times.</p>
    <p>If a Manual Illuminance lux reading exceeds the Maximum Illuminance output, then the sensor counters overflowed and the result is nonsense.</p>
    <p>If the Overall Saturation output exceeds 0.75 or so, a Manual Illuminance result, at the same time and gain properties, would overflow and be nonsense.</p>
    <p>If the Color Saturation output exceeds 0.75 or so, a Color Temp result at the same time and gain settings would be nonsense because the light is too monochromatic.</p>
    <p>This sensor is an extremely versatile device, and as such, is very complicated, and the provided demonstration flows will ease the user's understanding.</p>

  <h3>References</h3>

  <h4>Hardware Links</h4>
    <ul>
      <li><a href="https://www.waveshare.com/sense-hat-b.htm">
        Board Manufacturer Store
      </a></li>
      <li><a href="https://www.waveshare.com/wiki/Sense_HAT_(B)">
        Board Manufacturer Wiki
      </a></li>
      <li><a href="https://www.ti.com/product/ADS1015">
        ADS1015 four channel twelve bit ADC from Texas Instruments (tm)
      </a></li>
      <li><a href="https://www.ti.com/lit/pdf/slyy192">
        Free Ebook "Fundamentals of Precision ADC Noise Analysis"
      </a></li>
      <li><a href="https://www.ti.com/lit/pdf/slyt423">
        Journal Series "How Delta Sigma ADCs Work Pt 1"
      </a></li>
      <li><a href="https://www.ti.com/lit/pdf/slyt438">
        Journal Series "How Delta Sigma ADCs Work Pt 2"
      </a></li>       
      <li><a href="https://www.ti.com/lit/pdf/sbaa230">
        App Note "Digital Filter Types in Delta Sigma ADCs"
      </a></li>
      <li><a href="https://www.richtek.com/assets/product_file/RT9193/DS9193-16.pdf">
        RT9193 voltage regulator from RICHTEK (tm)
      </a></li>
    </ul>

  <h4>Spring City Solutions Links</h4>
    <ul>    
      <li><a href="https://www.springcitysolutions.com/nodered">
        Spring City Solutions Node-RED project page
      </a></li>
      <li><a href="https://www.springcitysolutions.com/nodered-waveshare-sense-hat">
        Spring City Solutions page for this node
      </a></li>
      <li><a href="mailto:nodered@springcitysolutions.com">
        Spring City Solutions Node-RED project email address nodered@springcitysolutions.com
      </a></li> 
      <li><a href="https://gitlab.com/SpringCitySolutionsLLC/waveshare-sense-hat-b-16864">
        Spring City Solutions Gitlab for this node
      </a></li>
      <li><a href="https://www.patreon.com/springcitysolutions_nodered">
        Patreon page for this project (Thank You for your support!)
      </a></li>
    </ul>

  <h4>Software Links</h4>
    <ul>  
      <li><a href="https://gitlab.com/SpringCitySolutionsLLC/waveshare-sense-hat-b-16864">
        Spring City Solutions Gitlab for this node
      </a></li>
      <li><a href="https://springcitysolutionsllc.gitlab.io/waveshare-sense-hat-b-16864/index.html">
        Doxygen docs for this node autogenerated by Gitlab CI/CD
      </a></li>
      <li><a href="https://npmjs.org/package/node-red-contrib-waveshare-sense-hat-b-16864">
        npmjs page for this node
      </a></li>
      <li><a href="https://flows.nodered.org/node/node-red-contrib-waveshare-sense-hat-b-16864">
        Node-RED flows for this node
      </a></li>
    </ul>

  <h4>Documentation Links</h4>
    <ul>  
      <li><a href="https://gitlab.com/SpringCitySolutionsLLC/waveshare-sense-hat-b-16864/-/wikis/home">
        Gitlab wiki for this node (the master copy of list of links is here)
      </a></li>
      <li>
        TODO Youtube video "How to Set Up"
      </li>
      <li>
        TODO Youtube video "How to Use"
      </li>
      <li>
        TODO Youtube video "Testing Results"
      </li>        
    </ul>

  <h4>Trademarks</h4>
    <ul>
      <li>Node-RED and node.js are a trademark of the OpenJS Foundation in the United States</li> 
      <li>Python is a registered trademark of the Python Software Foundation</li>
      <li>Raspberry Pi is a trademark of Raspberry Pi Trading</li>
      <li>ST Microelectronics (tm) is a trademark of STMICROELECTRONICS, INC.</li>
      <li>WAVESHARE is a trademark of Shenzhen Weixue Electronic Co., Ltd.</li>      
      <li>"All trademarks are property of their respective owners"</li>
    </ul>

  <h4>Copyrights and Licenses</h4>
    <ul>
      <li>Majority of code Copyright &copy; 2020-2022 Spring City Solutions LLC and other
      contributors and licensed under the Apache License, Version 2.0</li>
      <li>Icon made from <a href="http://www.onlinewebfonts.com/icon">Icon Fonts</a>
      is licensed by CC BY 3.0</li>
    </ul>
</script>
<script type="text/html" data-help-name="temphumidity">
  <p>Output temperature or humidity result after being triggered by any incoming message</p>

  <h3>Inputs</h3>
    <dl class="message-properties">
      <dt>payload
        <span class="property-type">Anything</span>
      </dt>
      <dd>Any input triggers the start of a measurement.</dd>
    </dl>

    <h3>Outputs</h3>
      <dl class="message-properties">
        <dt>payload <span class="property-type">number</span></dt>
          <dd>The measured temperature or humidity value.</dd>
      </dl>

  <h3>Details</h3>
    <p>The Mode property selects output temperature or humidity.</p>
    <p>The Scale property selects the temperature unit, Celsius, or Fahrenheit.</p>
    <p>The default temperature unit is Celsius.</p>
    <p>The humidity unit is percent relative humidity.</p>

  <h3>References</h3>

  <h4>Hardware Links</h4>
    <ul>
      <li><a href="https://www.waveshare.com/sense-hat-b.htm">
        Board Manufacturer Store
      </a></li>
      <li><a href="https://www.waveshare.com/wiki/Sense_HAT_(B)">
        Board Manufacturer Wiki
      </a></li>
      <li><a href="https://www.ti.com/product/ADS1015">
        ADS1015 four channel twelve bit ADC from Texas Instruments (tm)
      </a></li>
      <li><a href="https://www.ti.com/lit/pdf/slyy192">
        Free Ebook "Fundamentals of Precision ADC Noise Analysis"
      </a></li>
      <li><a href="https://www.ti.com/lit/pdf/slyt423">
        Journal Series "How Delta Sigma ADCs Work Pt 1"
      </a></li>
      <li><a href="https://www.ti.com/lit/pdf/slyt438">
        Journal Series "How Delta Sigma ADCs Work Pt 2"
      </a></li>       
      <li><a href="https://www.ti.com/lit/pdf/sbaa230">
        App Note "Digital Filter Types in Delta Sigma ADCs"
      </a></li>
      <li><a href="https://www.richtek.com/assets/product_file/RT9193/DS9193-16.pdf">
        RT9193 voltage regulator from RICHTEK (tm)
      </a></li>
    </ul>

  <h4>Spring City Solutions Links</h4>
    <ul>    
      <li><a href="https://www.springcitysolutions.com/nodered">
        Spring City Solutions Node-RED project page
      </a></li>
      <li><a href="https://www.springcitysolutions.com/nodered-waveshare-sense-hat">
        Spring City Solutions page for this node
      </a></li>
      <li><a href="mailto:nodered@springcitysolutions.com">
        Spring City Solutions Node-RED project email address nodered@springcitysolutions.com
      </a></li> 
      <li><a href="https://gitlab.com/SpringCitySolutionsLLC/waveshare-sense-hat-b-16864">
        Spring City Solutions Gitlab for this node
      </a></li>
      <li><a href="https://www.patreon.com/springcitysolutions_nodered">
        Patreon page for this project (Thank You for your support!)
      </a></li>
    </ul>

  <h4>Software Links</h4>
    <ul>  
      <li><a href="https://gitlab.com/SpringCitySolutionsLLC/waveshare-sense-hat-b-16864">
        Spring City Solutions Gitlab for this node
      </a></li>
      <li><a href="https://springcitysolutionsllc.gitlab.io/waveshare-sense-hat-b-16864/index.html">
        Doxygen docs for this node autogenerated by Gitlab CI/CD
      </a></li>
      <li><a href="https://npmjs.org/package/node-red-contrib-waveshare-sense-hat-b-16864">
        npmjs page for this node
      </a></li>
      <li><a href="https://flows.nodered.org/node/node-red-contrib-waveshare-sense-hat-b-16864">
        Node-RED flows for this node
      </a></li>
    </ul>

  <h4>Documentation Links</h4>
    <ul>  
      <li><a href="https://gitlab.com/SpringCitySolutionsLLC/waveshare-sense-hat-b-16864/-/wikis/home">
        Gitlab wiki for this node (the master copy of list of links is here)
      </a></li>
      <li>
        TODO Youtube video "How to Set Up"
      </li>
      <li>
        TODO Youtube video "How to Use"
      </li>
      <li>
        TODO Youtube video "Testing Results"
      </li>        
    </ul>

  <h4>Trademarks</h4>
    <ul>
      <li>Node-RED and node.js are a trademark of the OpenJS Foundation in the United States</li> 
      <li>Python is a registered trademark of the Python Software Foundation</li>
      <li>Raspberry Pi is a trademark of Raspberry Pi Trading</li>
      <li>ST Microelectronics (tm) is a trademark of STMICROELECTRONICS, INC.</li>
      <li>WAVESHARE is a trademark of Shenzhen Weixue Electronic Co., Ltd.</li>      
      <li>"All trademarks are property of their respective owners"</li>
    </ul>

  <h4>Copyrights and Licenses</h4>
    <ul>
      <li>Majority of code Copyright &copy; 2020-2022 Spring City Solutions LLC and other
      contributors and licensed under the Apache License, Version 2.0</li>
      <li>Icon made from <a href="http://www.onlinewebfonts.com/icon">Icon Fonts</a>
      is licensed by CC BY 3.0</li>
    </ul>
</script>